.header-section {
  background-image: url("/src/assets/bg-header-desk.webp");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (max-width: 767px) {
  .header-section {
    background-image: url("/src/assets/bg-header-phone.webp");
  }
}

@media (max-width: 390px) {
    .text-title {
        font-size: 20px;
    }
    .text-subtitle {
        font-size: 12px;
    }
    .text-subtitle-content {
        width: 100px;
    }
    .image-product {
        width: 80px;
        height: 80px;
    }
    .button-shopping {
        bottom: 4px;
        right: 8px;
    }
    .input-search {
        width: 180px;
    }
}
