.header-section {
  background-image: url("/src/assets/bg-header-desk.webp");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (max-width: 767px) {
  .header-section {
    background-image: url("/src/assets/bg-header-phone.webp");
  }
}
